@model Eventos.IO.Application.ViewModels.EventoViewModel

@{
    ViewData["Title"] = "Detalhes do Evento";
}

<h2>@ViewData["Title"]</h2>

<div>
    <h4>Visualizar Dados do Evento</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoCurta)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoCurta)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DescricaoLonga)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DescricaoLonga)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataInicio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataInicio)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DataFim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DataFim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Gratuito)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Gratuito)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Valor)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Valor)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Online)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Online)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NomeEmpresa)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NomeEmpresa)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OrganizadorId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrganizadorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" class="btn btn-info">Voltar para a Lista</a>
</div>
